* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    color: #fff
}

.promo {
    background-image: url('Images/MainBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 22px;
    padding-bottom: 53px;

}
.promo p {
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-justify: middle;
    line-height: 100%;
}
.promo__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    color: #F9BF3B;
    font-size: 41px;
}

.promo__title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
}


.logo {
    width: 170px;
    margin: 0 auto 53px auto;
    text-align: center;
}

.logo__img {
    width: 72px;
    height: 89px;
    margin-bottom: 13px;
}

.logo__text {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}


.promo__btn {
    background: #FF4D00;
    width: 315px;
    height: 72px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-bottom: 75px ;
    border: none;
}
 
.promo__btn:hover{
    background: black;
    transition: 0.5s;
    color: #FF4D00;
    box-shadow: 4px 4px 8px 5px #ff4d008e;
}

.promo__text{
    margin-bottom: 75px;
    width: 1140px;
    justify-self: center;
    margin-top: 20px;
}
.promo_p{
    color: #ffffff;
    text-transform:uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.promo__text FREE{
  color: #9b1717;  
}
.promo__img{
  display: block;
  margin: auto;
}

span{
    color: #F9BF3B;
}


.radio2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
}

.radio2 h2{
    color: #000000;
    font-size: 30px;
    font-weight:bold;
    height: 35px;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 80px;
}
.Divider{
margin-top: 14px;
margin-bottom:15px ;
}
.radio2__text {
font-size: 23px;
margin-bottom: 27px;
}
.Icons {
  display: flex;
  margin-bottom: 25px;
}
.Icons div{
    margin: 15px;
}

.Icons div p {
    width: 360px;
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 300;
}

.radio3{
   background-color: #000000;
   padding-top: 100px;
}
#radio3-paragraph h2{
    text-transform: uppercase;
    color:#F9BF3B ;
    font-size: 30px;
    margin-bottom: 16px;
}
#radio3-paragraph {
    margin: 0;
    color: #ffffff;
    width: 750px;
    text-align: right;
    justify-self: right;
    margin-left:780px ;
    font-size: 16px;
    font-weight: 300;
    position: relative;

}
#radio3-paragraph p {
    margin-top: 1em;
}
#radio3-down-paragraph {
    font-weight: 500;
}
.present {
    display: flex;
}
#Online-radio {
}
.radio4{
    background: url('Images/Bg.jpg') no-repeat center/cover;
    justify-items: center;
}
.radio4 h2{
    padding-top: 80px;
    font-weight: 400;
}
.Icons2 {
    display: flex;
    
}
.Icons2 div p {
    color: #efefef;
    margin-bottom: 102px;
}








