*{
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}
.promo{
    background-image: url('MainBg.jpg');  
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}




.promo p {
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-justify: middle;
    line-height: 100%;
}
.promo img {
    width: 72px;
    height: 89px;
}

.promo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo2 h2{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    height: 35px;
}
.Icons{
  display: flex;
  justify-content: center;
  word-break: normal;
  flex-direction: row;
  /* white-space: normal; */
}
.Icons div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.Icons div img {
    width: auto; 
    max-width: 100%;
    height: auto; 
}
.Icons div p {
    margin: 0;
    padding: 0;
    text-align: center; 
    word-wrap: break-word; 
    max-width: 100%;
}

.Icons2{
    display: flex;
}
.present{
    display: flex;
}


.promo__title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;

    color:#F9BF3B;
    font-size: 41px;
}

.promo__title_big{
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
}


.logo{
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.logo__img{
    margin-bottom: 13px;
}

.logo__text{
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
}

